In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install h2o
!pip install sklearn

Requirement already satisfied: h2o in /usr/local/lib/python3.7/dist-packages (3.32.1.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: colorama>=0.3.8 in /usr/local/lib/python3.7/dist-packages (from h2o) (0.4.4)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [ ]:
import pandas as pd
import h2o
from h2o.automl import H2OAutoML
from sklearn.model_selection import train_test_split

In [ ]:
train_data = pd.read_csv('/content/drive/MyDrive/data/voted/train.csv', index_col=0)
test_data = pd.read_csv('/content/drive/MyDrive/data/voted/test_x.csv', index_col=0)
submission = pd.read_csv('/content/drive/MyDrive/data/voted/sample_submission.csv', index_col=0)

In [ ]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         21 mins 35 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.7
H2O_cluster_version_age:    9 days
H2O_cluster_name:           H2O_from_python_unknownUser_8w60rc
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    6.342 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.11 final
--------------------------  ------------------------------------------------------------------

In [ ]:
# 레이블 설정
label = train_data['voted']
label.describe()

# 레이블을 제외한 나머지 데이터를 Feautre로 설정
feature = train_data.drop('voted', axis=1)

In [ ]:
y = "voted"
x = list(train_data.columns)
x.remove(y)

In [ ]:
# 데이터 스플릿
train, valid = train_test_split(train_data,
                                test_size=0.2, 
                                shuffle=True)
h2o_train = h2o.H2OFrame(train)
h2o_valid = h2o.H2OFrame(valid)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [ ]:
h2o_train[y] = h2o_train[y].asfactor()
h2o_valid[y] = h2o_valid[y].asfactor()

In [ ]:
aml = H2OAutoML(max_models=20, seed=1)
aml.train(x = x, y = y, training_frame=h2o_train, leaderboard_frame=h2o_valid)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [ ]:
leaderboard = aml.leaderboard
performance = aml.leader.model_performance(h2o_valid)

In [ ]:
print(leaderboard)

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
StackedEnsemble_AllModels_AutoML_20210912_052254,0.776942,0.550707,0.83085,0.331984,0.43466,0.188929
StackedEnsemble_BestOfFamily_AutoML_20210912_052254,0.775313,0.552543,0.829404,0.326554,0.435476,0.189639
GBM_1_AutoML_20210912_052254,0.774132,0.553622,0.828264,0.33888,0.435936,0.190041
GBM_2_AutoML_20210912_052254,0.773295,0.554234,0.828355,0.343002,0.436335,0.190388
GBM_3_AutoML_20210912_052254,0.773184,0.554237,0.828389,0.352981,0.436357,0.190407
GBM_grid__1_AutoML_20210912_052254_model_1,0.772749,0.555117,0.828117,0.336085,0.436405,0.19045
XGBoost_3_AutoML_20210912_052254,0.768189,0.558743,0.823037,0.353431,0.438521,0.192301
GBM_5_AutoML_20210912_052254,0.768041,0.557961,0.82416,0.342638,0.438126,0.191954
GBM_4_AutoML_20210912_052254,0.767746,0.557337,0.825999,0.354952,0.438104,0.191935
XGBoost_grid__1_AutoML_20210912_052254_model_4,0.767703,0.557963,0.823012,0.35952,0.438271,0.192082

In [ ]:
model_id   =aml.leader.model_id  # 최고 모델 명
accuracy   =performance.accuracy()  # 정확도
precision  =performance.precision()  # precision
recall     =performance.recall()  # recall
F1         =performance.F1()  # f1
auc        =performance.auc()  # auc
variable_importance=aml.leader.varimp()  # 중요한 입력 변수

print(model_id, accuracy, precision, recall, F1, auc, variable_importance)
print(performance)

Warning: This model doesn't have variable importances
StackedEnsemble_AllModels_AutoML_20210912_052254 [[0.49337727647401947, 0.705391457120896]] [[0.989445749046625, 1.0]] [[0.13829759756339416, 1.0]] [[0.38894845914928555, 0.7383836557584523]] 0.7769416967716806 None

ModelMetricsBinomialGLM: stackedensemble
** Reported on test data. **

MSE: 0.18892934862703145
RMSE: 0.4346600379917982
LogLoss: 0.5507074719265396
Null degrees of freedom: 9106
Residual degrees of freedom: 9090
Null deviance: 12545.722257650632
Residual deviance: 10030.585893669993
AIC: 10064.585893669993
AUC: 0.7769416967716806
AUCPR: 0.8308498044575198
Gini: 0.5538833935433611

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.38894845914928555:

               1       2   Error              Rate
0      1  2129.0  2000.0  0.4844   (2000.0/4129.0)
1      2   894.0  4084.0  0.1796    (894.0/4978.0)
2  Total  3023.0  6084.0  0.3178   (2894.0/9107.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.388948     0.738384  276.0
1                        max f2   0.138298     0.857743  398.0
2                  max f0point5   0.552550     0.754357  184.0
3                  max accuracy   0.493377     0.705391  215.0
4                 max precision   0.989446     1.000000    0.0
5                    max recall   0.138298     1.000000  398.0
6               max specificity   0.989446     1.000000    0.0
7              max absolute_mcc   0.744411     0.433221  108.0
8    max min_per_class_accuracy   0.462308     0.703696  232.0
9   max mean_per_class_accuracy   0.530496     0.712564  195.0
10                      max tns   0.989446  4129.000000    0.0
11                      max fns   0.989446  4973.000000    0.0
12                      max fps   0.131892  4129.000000  399.0
13                      max tps   0.138298  4978.000000  398.0
14                      max tnr   0.989446     1.000000    0.0
15                      max fnr   0.989446     0.998996    0.0
16                      max fpr   0.131892     1.000000  399.0
17                      max tpr   0.138298     1.000000  398.0

Gains/Lift Table: Avg response rate: 54.66 %, avg score: 54.77 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010102  ...        82.944958            0.018481
1       2                  0.020094  ...        80.945559            0.035876
2       3                  0.030087  ...        81.609593            0.054156
3       4                  0.040079  ...        80.940082            0.071550
4       5                  0.050071  ...        80.938982            0.089388
5       6                  0.100033  ...        80.735963            0.178131
6       7                  0.149995  ...        74.641453            0.246937
7       8                  0.200066  ...        70.695076            0.311956
8       9                  0.299989  ...        59.775501            0.395511
9      10                  0.400022  ...        47.892644            0.422555
10     11                  0.500055  ...        37.429666            0.412823
11     12                  0.599978  ...        28.469949            0.376749
12     13                  0.700011  ...        20.011892            0.308975
13     14                  0.799934  ...        12.554468            0.221505
14     15                  0.899967  ...         6.271467            0.124488
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

In [ ]:
test_data = h2o.H2OFrame(test_data)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [ ]:
predictions = aml.predict(test_data)

stackedensemble prediction progress: |████████████████████████████████████| 100%

In [ ]:
predictions = predictions.as_data_frame()

In [ ]:
predictions.head()

   predict        p1        p2
0        2  0.330223  0.669777
1        2  0.088118  0.911882
2        2  0.450934  0.549066
3        1  0.829009  0.170991
4        2  0.271225  0.728775

In [ ]:
submission['voted'] = predictions['predict']

In [ ]:
submission.to_csv('/content/drive/MyDrive/data/voted/submission2.csv')